.course-manager-content {
    padding: 20px;
}

.course-manager-content>h1{
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}

.course-tbl{
    width:100%;
    table-layout: fixed;
    color: black;
}

.cm-header{
    background-color: #c6c8ca;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.cm-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0;
    border: 1px solid #c6c8ca;
    border-radius: 0px 0px 10px 10px;
}

.course-tbl a:hover {
    color: slategray;
    text-decoration: underline;
}

.cm-course>thead>tr>th {
    color: black;
}

.cm-course>th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #EDEDED;
    text-transform: uppercase;
}

.cm-course>td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #EDEDED;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
