// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Register Page
@import "register_page";
@import "admin";
@import "course_manager";
@import "timepicker.min.css";

// General
.navbar-color {
  background-image: linear-gradient(to right, #8c5383, #7d6daa, #5e89c5, #34a2d1, #25b9cf) !important;
}

a.nav-link, a.navbar-brand {
  color: white !important;
}

.dropdown-toggle::after {
  right: 0px !important;
}

#navbarSupportedContent .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

#app-title {
  font-size: 72px;
  background: linear-gradient(to right, #8c5383, #7d6daa, #5e89c5, #34a2d1, #25b9cf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}